body {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    }

/* First section of the webpage*/

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: #f9faf8;

    .top, .bottom {
        display: flex;
        justify-content: space-between;
        margin: 16px 220px;
        align-items: center;

        .logo {
            font-size: 24px;
        }

        .links {
            display: flex;
            gap: 16px;
            list-style-type: none;

            p, a {
                color: #e5e7eb;
                font-size: 18px;
                text-decoration: none;
            }

        }

    }

    .bottom {
        margin-bottom: 50px;

        .container {
            flex-basis: 300px;

            h1 {
                font-size: 48px;
                font-weight: 800;
                margin-top: 0;
            }

            .sign-up {
                background-color: #3882f6;
                border: none;
                border-radius: 8px;
                padding: 10px 20px;
            }
        }
    }
}

/* the second part of the webpage*/

.second {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
    align-items: center;
    margin: 0;

    h2 {
        font-size: 36px;
        color: #1f2937;
        font-weight: 800;
    }

    .pictures {
        display: flex;
        justify-content: center;
        gap: 20px;

        .info {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            flex-basis: 80px;

            .image {
                border: solid #3882f6;
                border-radius: 8px;
                width: 160px;
                height: 160px;
                margin: 10px;
            }
        } 
    }
}

/* third part */

.third {
    background-color: #e5e7eb;
    width: 100%;
    display: flex;
    justify-content: center;
    
    .text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 90px 220px;
       

        .para {
            font-size: 36px;
            font-style: light italic;
            color: #1f2937;
            width: 800px;
        }
        .by{
            align-self: flex-end;
            font-size: 24px;
        }
    }
       
}
/* fourth part */

.fourth{
    display: flex;
    width: 100%;
    justify-content: center;

    .window-container{
        background-color: #3882f6;
        color: #e5e7eb;
        display: flex;
        
        align-items: center;
        flex-basis: 1000px;
        margin: 90px 200px;
        padding: 30px 70px;
        border: none;
        border-radius: 8px;

        h3 {
            font-size: 24px;
            margin: 0;
            padding-bottom: 0;
        }

        .window-paragraph {
            font-size: 18px;
            padding-top: 0;
            margin: 0;
        }

        .window-button {
            background-color: #3882f6;
            border: solid #f9faf8;
            color: #f9faf8;
            border-radius: 8px;
            padding: 5px 30px;
            margin-left: auto;

        }
    }
}

/*footer*/

footer{
    width: 100%;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;

    .footer-container {
        color: #e5e7eb;
        font-size: 18px;
    }
}
